<%= form_for(@timeline) do |f| %>
  <% if @timeline.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@timeline.errors.count, "error") %> prohibited this timeline from being saved:</h2>

      <ul>
      <% @timeline.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :image_url %><br>
    <%= f.text_field :image_url %>
  </div>
  <div class="field">
    <%= f.label :image_date %><br>
    <%= f.text_field :image_date %>
  </div>
  <div class="field">
    <%= f.label :image_source %><br>
    <%= f.text_field :image_source %>
  </div>
  <div class="field">
    <%= f.label :likes %><br>
    <%= f.number_field :likes %>
  </div>
  <div class="field">
    <%= f.label :shares %><br>
    <%= f.number_field :shares %>
  </div>
  <div class="field">
    <%= f.label :numcomments %><br>
    <%= f.number_field :numcomments %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
